<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <!-- 질 문 --> <h2 class="border-bottom py-2" th:text="${questionDto.subject}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(questionDto.content)}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${questionDto.author != null}" th:text="${questionDto.author.username}"></span>
                        <!-- 수정 시간이 있을 경우 -->
                        <span th:if="${questionDto.modifyDate != null}"
                              th:text="${#temporals.format(questionDto.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                        <!-- 수정 시간이 없을 경우(작성 시간만 있을 경우) -->
                        <span th:if="${questionDto.modifyDate == null}"
                              th:text="${#temporals.format(questionDto.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/question/vote/${questionDto.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success"
                          th:text="${questionDto.voteCount}"></span>
                </a>
                <a th:href="@{|/question/modify/${questionDto.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${questionDto.author != null and #authentication.getPrincipal().getUsername() == questionDto.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${questionDto.id}|}"
                   class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                   th:if="${questionDto.author != null and #authentication.getPrincipal().getUsername() == questionDto.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답 변 의 갯 수 표 시 --> <h5 class="border-bottom my-3 py-2"
                               th:text="|${questionDto.answerCount}개의 답변이 있습니다.|"></h5>
    <!-- 답 변 반 복 시 작 -->
    <div class="card my-3" th:each="answerDto : ${questionDto.answerList}">
        <a th:id="|answer_${answerDto.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answerDto.content)}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answerDto.author != null}" th:text="${answerDto.author.username}"></span>
                        <!-- 수정 시간이 있을 경우 -->
                        <span th:if="${answerDto.modifyDate != null}"
                              th:text="${#temporals.format(answerDto.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                        <!-- 수정 시간이 없을 경우(작성 시간만 있을 경우) -->
                        <span th:if="${answerDto.modifyDate == null}"
                              th:text="${#temporals.format(answerDto.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                   th:data-uri="@{|/answer/vote/${answerDto.id}|}">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${answerDto.voteCount}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answerDto.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answerDto.author != null and #authentication.getPrincipal().getUsername() == answerDto.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answerDto.id}|}"
                   class="delete btn btn-sm btn-outline-secondary"
                   sec:authorize=" isAuthenticated()"
                   th:if="${answerDto.author != null and #authentication.getPrincipal().getUsername() == answerDto.author.username}"
                   th:text="삭제"></a>
            </div>
        </div>
    </div>
    <!-- 답 변 반 복 끝 -->
    <!-- 답 변 작 성 -->
    <form th:action="@{|/answer/create/${questionDto.id}|}" th:object="${answerForm}" method="post" class="my-3 ">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"
                  placeholder="로그인 후 답변을 작성해 주세요."></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변 등록" class="btn btn-primary my-2"></form>
</div>
<script layout:fragment="script" type='text/javascript' th:inline="javascript">
    /* 서버에서 전달된 voteError 값을 JavaScript 변수로 가져옴 */
    var voteError = [[${voteError != null ? voteError : "null"
    }]]
    ;

    if (voteError !== "null") {
        alert(voteError);
    }

    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm(" 정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
        });
    });

</script>
</html>